@font-face {
    font-family: 'norseBold';
    src: url(./fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'norseBold', 'Times New Roman', Times, serif;
    min-height: 100vh;
}

.content {
    display: flex;

}

.leftSide {
    height: 100vh;
    background-image: url(./imgs/LeafyBackground.jpg);
}