@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
}

:root {
    --main-bg-color: #fafafa;
    --signup-bg-color: white;
    --border-color: #E5E7EB;
    --focus-color: blue;
    --invalid-color: red;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    background-image: url(./imgs/LeafyBackground.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    width: 65vw;
}

.top {
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;
}

.middle {
    height: 30vh;
    background-color: var(--signup-bg-color);
}


.encourageMessage {
    margin-left: 75px;
    font-size: 2rem;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: 75px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

input {
    width: 300px;
    height: 30px;
    border-color: var(--border-color);
    border-radius: 5px;
}

input:focus {
    border: 3px solid var(--focus-color);
}

input:invalid {
    border: 3px solid var(--invalid-color);
}

.bottom {
    height: 30vh;
}